In [181]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [182]:
#local government area summary
# Calculate the total number of schools
school_total = school_data["school_name"].count()
school_total

15

In [183]:
# Calculate the total number of students
student_total = student_data["student_name"].count()
student_total

39170

In [184]:
# # Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [185]:
# Calculate the average maths score
maths_average = school_data_complete["maths_score"].mean()
maths_average

70.33819249425581

In [186]:
# Calculate the average reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average

69.98013786060761

In [187]:
# Calculate the percentage of students with a passing maths score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
mathpass = school_data_complete.loc[school_data_complete["maths_score"] >=50]
mathpasscount = mathpass["Student ID"].count()
mathpercentpass = (mathpasscount / student_total) *100
mathpercentpass

86.07863160582077

In [188]:
# Calculate the percentage of students with a passing reading score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
readpass = school_data_complete.loc[school_data_complete["reading_score"] >=50]
readpasscount = readpass["Student ID"].count()
readpercentpass = (readpasscount / student_total) *100
readpercentpass

84.42685728874139

In [189]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
overallpass = school_data_complete[(school_data_complete["reading_score"] >=50) & (school_data_complete["maths_score"] >=50)]["Student ID"].count()
overall = (overallpass / student_total) *100
overall

72.80827163645647

In [190]:
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
LGA_summary_df = pd.DataFrame(
{"Total Schools": [school_total],
    "Total Students": [student_total],
    "Total Budget": f"${total_budget:,.2f}",
     "Average Maths Score": f"{maths_average:,.3f}",
     "Average Reading Score": f"{reading_average:,.3f}",
    "Maths pass percent": f"{mathpercentpass:,.3f}%",
    "Reading Pass percent": f"{readpercentpass:,.3f}%",
    "Overall Pass percent": f"{overall:,.3f}%"
})

LGA_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths pass percent,Reading Pass percent,Overall Pass percent
0,15,39170,"$24,649,428.00",70.338,69.980,86.079%,84.427%,72.808%

In [191]:
#School Summary
# Create an overview table that summarises key metrics about each school, including:

#create the school grouping
#   School Name
school_name = school_data_complete.set_index(["school_name"]).groupby(["school_name"])
school_name.head()

,Student ID,student_name,gender,year,reading_score,maths_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9,96,94,0,Government,2917,1910635
Huang High School,1,Victor Smith,M,12,90,43,0,Government,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12,41,76,0,Government,2917,1910635
Huang High School,3,Richard Scott,M,12,89,86,0,Government,2917,1910635
Huang High School,4,Bonnie Ray,F,9,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10,58,98,14,Independent,1635,1043130
Thomas High School,37536,Cody Miller,M,11,51,93,14,Independent,1635,1043130
Thomas High School,37537,Erik Snyder,M,9,72,60,14,Independent,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9,68,86,14,Independent,1635,1043130
Thomas High School,37539,Noah Erickson,M,9,73,72,14,Independent,1635,1043130

In [192]:
#   School Type
school_type = school_data_complete.set_index("school_name")["type"]
school_type.head()

school_name
Huang High School    Government
Huang High School    Government
Huang High School    Government
Huang High School    Government
Huang High School    Government
Name: type, dtype: object

In [193]:
#   Total Students
student_count = school_name["Student ID"].count()
student_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

#   Total School Budget
#how to do iget this without using unique?  need to remove the [] brackets from data for this and next step
school_budget = school_name["budget"].unique()
school_budget

In [194]:
#   Per Student Budget
student_budget = (school_budget) / (student_count)
student_budget

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [195]:
#   Average Maths Score
mathsavg = school_name["maths_score"].mean()
mathsavg

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [196]:
#   Average Reading Score
readavg = school_name["reading_score"].mean()
readavg

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [197]:
# #   % Passing Maths
mathpercpass = school_data_complete[school_data_complete["maths_score"] >=50].groupby("school_name")["Student ID"].count()/student_count *100
mathpercpass

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
Name: Student ID, dtype: float64

In [198]:
# #   % Passing Reading
readpercpass = school_data_complete[school_data_complete["reading_score"] >=50].groupby("school_name")["Student ID"].count()/student_count *100
readpercpass

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
Name: Student ID, dtype: float64

In [199]:
# #   % Overall Passing (The percentage of students that passed maths **and** reading.)
schoverallpass = school_data_complete[(school_data_complete["maths_score"] >=50) & (school_data_complete["reading_score"] >=50)].groupby("school_name")["Student ID"].count()
schoverall = (schoverallpass / student_count) *100
schoverall

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [200]:
LGA_summary_df.index.duplicated()

array([False])

In [219]:
# * Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({
#     "School Type": school_type,
    "Total Students": student_count,
    "Total School Budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Maths Score": mathsavg,
    "Average Reading Score": readavg,
    "% Passing Maths": mathpercpass,
    "% Passing Reading": readpercpass,
    "% Overall Passing": schoverall
})

school_summary_df.head()

# school_summary_df = pd.DataFrame({
# #     "School Type": school_type,
#     "Total Students": student_count,
#     "Total School Budget": f"${school_budget:,.2f}",
#     "Per Student Budget": f"${student_budget:,.2f}",
#     "Average Maths Score": mathsavg,
#     "Average Reading Score": readavg,
#     "% Passing Maths": mathpercpass,
#     "% Passing Reading": readpercpass,
#     "% Overall Passing": schoverall
# })
# school_summary_df.head()

,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,[3124928],[628.0],72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,1858,[1081356],[582.0],71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,2949,[1884411],[639.0],68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,2739,[1763916],[644.0],69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,1468,[917500],[625.0],71.788147,71.245232,91.212534,88.487738,81.335150

In [221]:
#Top performing schools
#sort and display the top five performing schools by %overall passing

top_five = school_summary_df.sort_values("% Overall Passing", ascending = False)

top_five.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Griffin High School,1468,[917500],[625.0],71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,1858,[1081356],[582.0],71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,4976,[3124928],[628.0],72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,1800,[1049400],[583.0],72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,3999,[2547363],[637.0],72.047762,70.935984,90.797699,87.396849,79.419855

In [223]:
#bottom pefforming schools 
#sort and display the five worst performing schools by % overall passing
bottom_five = school_summary_df.sort_values("% Overall Passing", ascending = True)

bottom_five.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Hernandez High School,4635,[3022020],[652.0],68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,2917,[1910635],[655.0],68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,4761,[3094650],[650.0],68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,2283,[1319574],[578.0],69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,2739,[1763916],[644.0],69.091274,69.572472,82.438846,82.219788,67.469880

In [ ]:
# Maths Scores by Year
# Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

mathscore = school_data_complete
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
# Create a pandas series for each year. Hint: use a conditional statement.
# Group each series by school
# Combine the series into a dataframe
# Optional: give the displayed data cleaner formatting