In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [35]:
#local government area summary
# Calculate the total number of schools
school_total = len(school_data_complete["school_name"].unique())
school_total

15

In [39]:
# Calculate the total number of students
student_total = school_data_complete["Student ID"].count()
student_total

39170

In [40]:
# # Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [41]:
# Calculate the average maths score
maths_average = school_data_complete["maths_score"].mean()
maths_average

70.33819249425581

In [42]:
# Calculate the average reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average

69.98013786060761

In [44]:
# Calculate the percentage of students with a passing maths score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
mathpass = school_data_complete[(school_data_complete["maths_score"] >=50)].count()["student_name"]
mathpercentpass = mathpass / float(student_total) *100
mathpercentpass

86.07863160582077

In [45]:
# Calculate the percentage of students with a passing reading score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
readpass = school_data_complete[(school_data_complete["reading_score"] >=50)].count()["student_name"]
readpercentpass = (readpass / student_total) *100
readpercentpass

84.42685728874139

In [46]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
overallpass = school_data_complete[(school_data_complete["reading_score"] >=50) & (school_data_complete["maths_score"] >=50)].count()["student_name"]
overall = (overallpass / student_total) *100
overall

72.80827163645647

In [47]:
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
LGA_summary_df = pd.DataFrame(
{"Total Schools": [school_total],
    "Total Students": [student_total],
    "Total Budget": f"${total_budget:,.2f}",
     "Average Maths Score": f"{maths_average:,.3f}",
     "Average Reading Score": f"{reading_average:,.3f}",
    "Maths pass percent": f"{mathpercentpass:,.3f}%",
    "Reading Pass percent": f"{readpercentpass:,.3f}%",
    "Overall Pass percent": f"{overall:,.3f}%"
})

LGA_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths pass percent,Reading Pass percent,Overall Pass percent
0,15,39170,"$24,649,428.00",70.338,69.980,86.079%,84.427%,72.808%

In [48]:
#   School Type
school_type = school_data.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Name: type, dtype: object

In [86]:
#from tutoring example
type(school_type)

In [11]:
#School Summary
# Create an overview table that summarises key metrics about each school, including:

#create the school grouping
#   School Name
# school_name = school_data_complete.set_index(["school_name"]).groupby(["school_name"])
# school_name.head()

,Student ID,student_name,gender,year,reading_score,maths_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9,96,94,0,Government,2917,1910635
Huang High School,1,Victor Smith,M,12,90,43,0,Government,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12,41,76,0,Government,2917,1910635
Huang High School,3,Richard Scott,M,12,89,86,0,Government,2917,1910635
Huang High School,4,Bonnie Ray,F,9,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10,58,98,14,Independent,1635,1043130
Thomas High School,37536,Cody Miller,M,11,51,93,14,Independent,1635,1043130
Thomas High School,37537,Erik Snyder,M,9,72,60,14,Independent,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9,68,86,14,Independent,1635,1043130
Thomas High School,37539,Noah Erickson,M,9,73,72,14,Independent,1635,1043130

In [49]:
#   Total Students
student_count = school_data_complete["school_name"].value_counts()
student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [50]:
#Total School Budget
#how to get this without using unique function? need to remove the [] brackets from data for this step and next step
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [51]:
#   Per Student Budget
student_budget = (school_budget) / (student_count)
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [52]:
#   Average Maths Score
mathsavg = school_data_complete.groupby(["school_name"]).mean()["maths_score"]
mathsavg

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [53]:
#   Average Reading Score
readavg = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
readavg

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [62]:
# #   % Passing Maths
# Get the students who passed math and passed reading by creating separate filtered DataFrames.
school_passing_math = school_data_complete[(school_data_complete["maths_score"] >= 50)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)]

# Get the the students who passed both reading and math in a separate DataFrame.
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)
                                               & (school_data_complete["maths_score"] >= 50)]

In [67]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / student_count * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / student_count * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / student_count * 100
per_school_passing_math.head()
per_school_passing_reading.head()
overall_passing_rate.head()

Bailey High School      87.379421
Cabrera High School     89.074273
Figueroa High School    82.807731
Ford High School        82.219788
Griffin High School     88.487738
dtype: float64

In [89]:
# * Create a dataframe to hold the above results
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": student_count,
    "Total School Budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Maths Score": mathsavg,
    "Average Reading Score": readavg,
    "% Passing Maths": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [90]:
# Minor data munging
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [91]:
#Top performing schools
#sort and display the top five performing schools by %overall passing

top_five = school_summary_df.sort_values("% Overall Passing", ascending = False)

top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

In [92]:
#bottom pefforming schools 
#sort and display the five worst performing schools by % overall passing
bottom_five = school_summary_df.sort_values("% Overall Passing", ascending = True)

bottom_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [93]:
# Create data series of scores by grade levels using conditionals
ninth_graders = school_data_complete[(school_data_complete["year"] == 9)]
tenth_graders = school_data_complete[(school_data_complete["year"] == 10)]
eleventh_graders = school_data_complete[(school_data_complete["year"] == 11)]
twelfth_graders = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["maths_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["maths_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["maths_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["maths_score"]

# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"Year 9": ninth_graders_scores, "Year 10": tenth_graders_scores,
                                "Year 11": eleventh_graders_scores, "Year 12": twelfth_graders_scores})

# Minor data munging
scores_by_grade = scores_by_grade[["Year 9", "Year 10", "Year 11", "Year 12"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student).
#Create the bins:
bins = [0, 584, 629, 644, 675]

#create the range
ranges = ["<$584", "$585-629", "$630-644", "$645-675"]
                                       
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]