In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [103]:
#local government area summary
# Calculate the total number of schools
school_total = school_data["school_name"].count()
school_total

15

In [104]:
# Calculate the total number of students
student_total = student_data["student_name"].count()
student_total

39170

In [105]:
# # Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [108]:
# Calculate the average maths score
maths_average = school_data_complete["maths_score"].mean()
maths_average

70.33819249425581

In [109]:
# Calculate the average reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average

69.98013786060761

In [122]:
# Calculate the percentage of students with a passing maths score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
mathpass = school_data_complete.loc[school_data_complete["maths_score"] >=50]
mathpasscount = mathpass["Student ID"].count()
mathpercentpass = (mathpasscount / student_total) *100
mathpercentpass

86.07863160582077

In [123]:
# Calculate the percentage of students with a passing reading score (50 or greater)
#count the number of students with a grade of over 50 & find the percentage based on the total number of students
readpass = school_data_complete.loc[school_data_complete["reading_score"] >=50]
readpasscount = readpass["Student ID"].count()
readpercentpass = (readpasscount / student_total) *100
readpercentpass

84.42685728874139

In [143]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
overallpass = school_data_complete[(school_data_complete["reading_score"] >=50) & (school_data_complete["maths_score"] >=50)]["Student ID"].count()
overall = (overallpass / student_total) *100
overall

72.80827163645647

In [170]:
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
school_summary_df = pd.DataFrame(
{"Total Schools": [school_total],
    "Total Students": [student_total],
    "Total Budget": f"${total_budget:,.2f}",
     "Average Maths Score": f"{maths_average:,.3f}",
     "Average Reading Score": f"{reading_average:,.3f}",
    "Maths pass percent": f"{mathpercentpass:,.3f}",
    "Reading Pass percent": f"{readpercentpass:,.3f}",
    "Overall Pass percent": f"{overall:,.3f}"
})

school_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths pass percent,Reading Pass percent,Overall Pass percent
0,15,39170,"$24,649,428.00",70.338,69.980,86.079,84.427,72.808

In [218]:
#School Summary
# Create an overview table that summarises key metrics about each school, including:

#create the school grouping
#   School Name
school_name = school_data_complete.set_index(["school_name"]).groupby(["school_name"])
# school_name.head()

#   School Type
# school_type = school_name("school_name")["type"]
# school_type

#   Total Students
student_count = school_name["Student ID"].count()
# student_count
#   Total School Budget
school_budget = school_name["budget"].unique()
# school_budget
#   Per Student Budget
student_budget = (school_budget) / (student_count)
# student_budget
#   Average Maths Score

#   Average Reading Score
#   % Passing Maths
#   % Passing Reading
#   % Overall Passing (The percentage of students that passed maths **and** reading.)
  



# * Create a dataframe to hold the above results
#   school_data_complete = pf.DataFrame

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object